
a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


/***********
Container
***********/


.bootstrap-select {
    font-weight: bold;
    border: none;
    background-color: #FFFFFF;

}


.super_container
{
    width: 100%;
}


.sort {
    margin-right: -1em;
}

.content, .results_sort {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    padding-left: 0em;
}

.results_sort {
    flex-direction: row-reverse;
}


.results {
    border-right: 1px solid #000000;
}

.super_container_inner
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active
{
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}
.super_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active .super_overlay
{
    visibility: visible;
    opacity: 1;
}


.slider {
    /* overwrite slider styles */
    width: 200px;
}


/***********
Products
***********/


.products
{
    background: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}


.products_row
{
    margin-top: 10px;
}


/***********
Product
***********/

.product
{
    width: 321px;
    overflow: hidden;
    border-radius: 3px;
    padding-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.09);
}

.line{
    border-top: 1px solid #D3D3D3;

}



.home_item_large .product_buttons > div > div
{
    border-top: solid 1px rgba(255,255,255,0.2);
}


li.item_filter_btn {
    padding-left: -20px !important;
    margin-left: -20px !important;
}


.filter_option > ul {
    width: 400px;
}



div.filter_option{
    cursor: pointer;
    padding:10px;
    padding-left: 25px;
    padding-right:25px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

div.filter_option:hover{
    background: #930046;
    color:white;
    border: 1px solid #930046;

}

div.filter_option.active{
    background: #930046;
    color:white;

}

.product_cart {
    width: 4em !important;
    padding: 1.5em;
    height: 2.25em !important;
}

.add_product {
    padding: 1.5em 0em 1.5em 3em;
    height: 2.25em !important;
    width: 7em !important;
    padding-left: 0.5em;
}

.product_quantity{
    width: 5em !important;
}

.choice_list {
    background: #FFFFFF;
    width:100%;
    height: 100%;
    border-style: solid;
    border-color: #EDEDED;
    border-width: 2.5px 0 2.5px 2.5px ;
    height: 2.8em !important;

}

.selection_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #000000;

}



/******************************/




.isotope_filter_text span,
.isotope_sorting_text span
{
    font-size: 16px;
    font-weight: 400;
    color: #969696;
}

.product_dropdown_filter
{
    width: 114px;
}


.products_dropdown
{
    position: relative;
    cursor: pointer;
    width: auto;
}

.products_dropdown i
{
    margin-left: 9px;
    font-size: 14px;
    color: #bcbcbc;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.products_dropdown:hover i
{
    color: #000000;
}


.btn-apply-filter {
    margin-top: 1.7em;
    background-color: #930046;
    border-radius: 100px;
    padding: 0.3em 1em 0.3em 1em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: white;
    border: none;
}


.products_dropdown > ul
{
    position: absolute;
    z-index: 1000;
    list-style:none;
    display: none;    opacity: 0;
    text-align: left;
    background: #FFFFFF;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.products_dropdown ul li:not(:last-child)
{
    margin-bottom: 7px;
}

.products_dropdown ul li
{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 1rem;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.products_dropdown ul li:hover
{
    color: #000000;
}

.products_dropdown:hover > ul {
display: block;
    opacity: 1;
}


.slider-price {
    align-self: center;
}



.vue-slider {
    width: 20em !important;
}


.price-filter-label {
    align-self: center;
}


.price-filter {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #930046;
    border: 1px solid #930046;
    padding: 0.5em 1em 0.5em 1em;
    width: 8.2em;
    border-radius: 50px;
    text-align: center;
}


.price-filter-min {
    margin-right: 1em;
}

.price-filter-max {
    margin-left: 1em;
}



.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}
.chiller_cb input {
    display: none;
}
.chiller_cb input:checked ~ span {
    background: #930046;
    border-color: #930046;
}
.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom:0;
}
.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}
.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}
