@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i&display=swap');



div
{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}



/***********
Container
***********/

.fa-star {
    color: #850038;
}


.super_container
{
    width: 100%;
}


.super_container_inner
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active
{
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}
.super_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active .super_overlay
{
    visibility: visible;
    opacity: 1;
}



/***********
Products
***********/


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 215px;

}

.products
{
    background: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 82px;
}



/***********
Product
***********/

.product
{
    overflow: hidden;
    border-radius: 3px;
    padding-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.09);
}

@media screen and (min-width: 1200px) {
    .product {
        width: 321px;
    }

}


@media screen and (max-width: 1200px) {
    .product {
        margin-right: 4em !important;
        margin-left: 4em !important;
    }

}

.item-added ~.product_cart {
    background-color: rgba(133, 0, 56, 0.3) !important;
}

.item-added {

}


.added {
    display: none;
}


.item-added ~ .added {
    display: flex !important;
    background-color: rgba(133, 0, 56, 0.3) !important;
}

.item-added {
    display: none !important;
}



.product_name a:hover
{
    color: #bdbdbf !important;
}


.product_info
{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 10px;
}

.product_name a
{
    font-family: Montserrat;
    font-weight: bold;
    color: black !important;
}

@media screen and (min-width: 665px) {
    .product_name a {
        font-size: 18px;
        line-height: 24px;
    }
}


.product_image {
    margin-bottom: -40px;
}


.product_info.name {
    height: 5.5em;
}


.product_info.price {
    height:4.5em;
}


.product_info.year_format {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    margin-top: -15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 2em;
    color: #000000;
}


.product_price {
    color: #850038;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    margin-left: 1px;
    vertical-align: top;
}


.product_buttons > div
{
    width: 100%;
    height: 100%;
}
.product_buttons > div > div
{
    width: 50%;
    height: 100%;
    /*-webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;*/
}

.home_item_large .product_buttons > div > div
{
    border-top: solid 1px rgba(255,255,255,0.2);
}


/*taille du panier*/
.product_button > div > div img {
    padding-top: 3px;
    max-width: 70%;
}

.choice_list {
  background: #FFFFFF;
  width:100%;
  height: 100%;
  border-style: solid;
  border-color: #EDEDED;
border-width: 2.5px 0 2.5px 2.5px ;
  height: 3.5em !important;
}

.home_item_large .product_buttons > div > div:hover
{
    background: rgba(255,255,255,0.1);
}
.product_buttons > div > div:first-of-type
{
    border-right: solid 1px #ededed;
}
.home_item_large .product_buttons > div > div:first-of-type
{
    border-right: solid 1px rgba(255,255,255,0.2);
}
.product_button
{
    cursor: pointer;
}
.product_button > div > div
{
    width: 36px;
    height: 36px;
    margin-top: 4px;
}


@media screen and (min-width: 1200px) {
    .favorite-heart {
        top: -200px;
        right: -250px;
    }
}


/* for chrome browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    @media screen and (min-width: 460px) and (max-width: 1200px) {
        .favorite-heart {
            top: -205px;
            right: -235px;
        }
    }
}


/* for chrome browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    @media screen and (min-width: 406px) and (max-width: 460px) {
        .favorite-heart {
            top: -205px;
            right: -200px;
        }
    }
}

/* for chrome browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    @media screen and (min-width: 371px) and (max-width: 405px) {
        .favorite-heart {
            top: -140px;
            right: -195px;
        }
    }
}

/* for chrome browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    @media screen and (max-width: 370px) {
        .favorite-heart {
            top: -140px;
            right: -150px;
        }
    }
}

/* for safari browser*/
@media not all and (min-resolution:.001dpcm) {
    @media screen and (min-width: 461px) and (max-width: 1200px) {
        .favorite-heart {
            top: -200px;
            right: -275px;
        }
    }
}

/* for safari browser*/
@media not all and (min-resolution:.001dpcm) {
    @media screen and (min-width: 406px) and (max-width: 460px) {
        .favorite-heart {
            top: -195px;
            right: -180px;
        }
    }
}

/* for safari browser*/
@media not all and (min-resolution:.001dpcm) {
    @media screen and (min-width: 371px) and (max-width: 405px) {
        .favorite-heart {
            top: -140px;
            right: -195px;
        }
    }
}

/* for safari browser*/
@media not all and (min-resolution:.001dpcm) {
    @media screen and (max-width: 370px) {
        .favorite-heart {
            top: -140px;
            right: -145px;
        }
    }
}

.favorite-heart {
    width: 40px;
}

div.favorite-heart.empty {
    content:url('/public/images/favorite-heart-empty.svg');
}

div.favorite-heart.full {
    content:url('/public/images/favorite-heart-full.svg');
}


div.product_button.product_cart, .add_product {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
    background-color: #850038;
}


.product_cart {
    width: 7em !important;
    padding: 1.5em;
    height: 2.25em !important;
}

.add_product {
    padding: 1.5em 0em 1.5em 3em;
    height: 2.25em !important;
    width: 12em !important;
    padding-left: 0.4em;
}


/***********
Product_rating
***********/


.rating_r i:not(:last-of-type)
{
    margin-right: 4px;
}
.rating_r i::before
{
    font-family: 'icomoon';
    content: "\e9d9";
    font-style: normal;
    font-size: 16px;
    color: #850038;
}






/*************

Code ajouté

 *************/


.bootstrap-select {
    font-weight: bold;
    border: none;
    background-color: #FFFFFF;

}



@media screen and (min-width: 1200px) {
    .sort {
        margin-right: -1em;
    }
}

@media screen and (max-width: 1200px) {
    .sort {
        width: 6.5em;
        font-size: 14px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 1200px) {
    .sort_by {
        width: 11em;
        font-size: 14px;
    }
}


@media screen and (max-width: 1200px) {
    .results_sort, .price_filter, .all_filters {
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {
    .super_container.filters {
        padding-left: 2em;
    }
}


@media screen and (max-width: 1200px) {
    .filters {
        padding-left: 0.5em;
    }
    .filter_option {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
}


@media screen and (min-width: 1200px) {
    .filters {
        padding-left: 4em;
    }
}


.content, .results_sort {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    padding-left: 0em;
}


.results_sort {
    flex-direction: row-reverse;
}


@media screen and (max-width: 1200px) {
    .results_sort {
        padding-right: 7.5em;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 1200px) {
    .results {
        width: 7em;
        font-size: 14px;
        padding-right: 0;
        padding-left: 0;
    }
}





@media screen and (min-width: 1200px) {
    .results {
        border-right: 1px solid #000000;
    }
}


.slider {
    /* overwrite slider styles */
    width: 200px;
}


.products-filters
{
    background: #FFFFFF;
    padding-bottom: 20px;
}

.line{
    border-top: 1px solid #D3D3D3;

}

li.item_filter_btn {
    padding-left: -20px !important;
    margin-left: -20px !important;
}


.filter_option > ul {
    width: 400px;
}

.arrow_right{
    display:inline-block !important;
}

div.filter_option{
    cursor: pointer;
    padding:10px;
    padding-left: 17px;
    padding-right:17px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

div.filter_option:hover{
    background: #850038;
    color:white;
    border: 1px solid #850038;

}

div.filter_option.active{
    background: #850038;
    color:white;

}

.products_dropdown
{
    position: relative;
    cursor: pointer;
    width: auto;
}

.products_dropdown i
{
    margin-left: 9px;
    font-size: 14px;
    color: #bcbcbc;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.products_dropdown:hover i
{
    color: #000000;
}


{
    margin-top: 1.7em;
    background-color: #850038;
    border-radius: 100px;
    padding: 0.3em 1em 0.3em 1em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: white;
    border: none;
}


.products_dropdown > ul
{
    position: absolute;
    z-index: 1000;
    list-style:none;
    display: none;    opacity: 0;
    text-align: left;
    background: #FFFFFF;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

}

.products_dropdown ul#appellations, .products_dropdown ul#years {
    max-height: 60vh;
    overflow: scroll;
}

.products_dropdown ul li:not(:last-child)
{
    margin-bottom: 7px;
}

.products_dropdown ul li
{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 1rem;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.products_dropdown ul li:hover
{
    color: #000000;
}

.products_dropdown:hover > ul {
    display: block;
    opacity: 1;
}

.slider-price {
    align-self: center;
}


@media screen and (min-width: 1200px) {
    .vue-slider {
        width: 20em;
        bottom: 0.18em;
    }
}

@media screen and (max-width: 1200px) {
    .slider-price {
        width: 10em;
        bottom: 0.18em;
    }
}


.price-filter-label {
    align-self: center;
}


.price-filter {
    font-family: Montserrat;
    font-weight: bold;
    color: #850038;
    border: 1px solid #850038;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 50px;
    text-align: center;
}


@media screen and (min-width: 1200px) {
    .price-filter {
        width: 8.3em;
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    .price-filter {
        width: 6.5em;
        font-size: 14px;
    }
}


.price-filter-min {
    margin-right: 1em;
}

.price-filter-max {
    margin-left: 1em;
}


.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}
.chiller_cb input {
    display: none;
}
.chiller_cb input:checked ~ span {
    background: #850038;
    border-color: #850038;
}
.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom:0;
}
.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}
.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}


/*************************************
Responsivité under 500 pts size screen
*************************************/


@media screen and (max-width: 500px) {
    .product_name a {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .product_name {
        font-size: 16px;
        line-height: 15px
    }
}

@media screen and (max-width: 405px) {
    .product_price {
        font-size: 20px;
    }
}

@media screen and (max-width: 405px) {
    .image {
        height: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .product_cart {
        width: 3em !important;
        border-left: solid 1px #850038;
    }
}

@media screen and (max-width: 405px) {
    .products_found {
        padding: 0;
    }
}
