// Footer styles
footer div.footer-copyright  {
  color: white;
    text-align: left;
  background-color: #494849;
    height: 63px;
}

p.copyright {
    padding-top: 0.32em;
}


footer {
     font-family: Montserrat;
     font-size: 14px;
 }


footer a {

  color: black;
}

footer a:hover {
  color: white;
  text-decoration: none;
}


.page-footer {
    background-color: #bcbabc;
}

h5.footer-title {
    font-weight: 600;
    font-size: 16px;
}

@media screen and (min-width: 1200px) {
    .big-footer {
        padding: 0 10em;
    }
}

@media screen and (max-width: 1200px) {
    .big-footer {
        padding: 0 3em;
    }
}

@media screen and (max-width: 1200px) {
    .address {
        width: 100%;
        text-align: center;
        margin-top: -2em;
    }
}


@media screen and (max-width: 1200px) {
    .list-links li {
        padding-bottom: 0.5em;
    }

}

@media screen and (max-width: 1200px) {
    footer {
        line-height: 15px;
    }
}
