// Footer styles
footer div.footer-copyright  {
  color: white;
    text-align: left;
  background-color: #494849;
    height: 63px;
}

p.copyright {
    padding-top: 0.32em;
}


footer {
    font-family: Montserrat;
}

footer a {

  color: black;
}

footer a:hover {
  color: white;
  text-decoration: none;
}


.page-footer {
    background-color: #a9a8a9;
}

h5.footer-title {
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .big-footer {
        padding: 0 10em;
    }
}

@media screen and (max-width: 1200px) {
    .big-footer {
        padding: 0 3.4em;
    }
}
