/*secondary nav styles*/
nav.navbar.navbar-expand-lg.navbar-light.secondary-nav ul.navbar-nav.mr-auto li.nav-item a.nav-link{
  color: $black !important;
}

nav.navbar.navbar-expand-lg.navbar-light.secondary-nav ul.navbar-nav.mr-auto li.nav-item a.nav-link:hover,
nav.navbar.navbar-expand-lg.navbar-light.secondary-nav ul.navbar-nav.mr-auto li.nav-item a.nav-link:focus {
  font-weight: bold;
}

.active a {
  font-weight: bold !important;
}


nav.navbar.navbar-expand-lg.navbar-light.secondary-nav {
  padding: 1em 4em ;
    z-index: 2;
}

input.form-control.mr-sm-2.secondary-nav {
  background-color: inherit;
  border: none;
  border-radius: 0;
}

input.form-control.mr-sm-2.secondary-nav:focus {
  border: none;
  box-shadow: none;
}

button.btn.my-2.my-sm-0.secondary-nav:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

nav.secondary-nav form.form-inline {
  border-bottom: 1px solid #ced4da;
}


nav.secondary-nav {
    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2) !important;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    z-index: 5;
}


.nav.navbar.navbar-expand-lg.navbar-light.secondary-nav {
    z-index: 5;
}

button.btn-search {
    border: none;
}

button.btn-search:hover {
    background-color: transparent !important;
    border: none;
}
