@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i&display=swap');


/* permet de rajouter la font "icomoon" */


/***********
Global
***********/
textarea{
    background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;
}

label{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #000000;

}


a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


/***********
Container
***********/

.super_container
{
    width: 100%;
    overflow: hidden;
}


.super_container_inner
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active
{
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}
.super_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active .super_overlay
{
    visibility: visible;
    opacity: 1;
}

.title{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 30px;
color: #000000;
}

.vu{
    width:80px;
}