
/* ------------------
  IMAGES ON SLIDER
---------------------*/

.slider-image {
    background-size: cover;
    width: 100%;
    height: 30em;
    padding: 0;
}

.row-image {
    margin: 0;
}


/* ------------------
  INFOS (ON SLIDE)
---------------------*/


.descr {
    height: 4em;
}


.infos-inside {
    padding-left: 4vw;
    padding-right: 4vw;
}


@media screen and (max-width: 1200px) {
    .slider-image > div > .infos {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .infos-inside {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}


@media screen and (min-width: 1200px) {
    .slider-image > div > .infos {
        left: 3.5vw;
        max-width: 29.85vw !important;
    }
}


.slider-image > div > .infos {
    background-color: rgba(255, 255, 255, 0.7);
    height: 35em;
}

.infos-inside > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

.infos-inside > h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 40px;
    padding-top: 3em;
    padding-bottom: 0.5em;
}

.btn-inscription {
    margin-top: 1.7em;
    background-color: #850038;
    border-radius: 100px;
    width: 10em;
    padding: 0.7em 2em 0.7em 2em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;
    border: none;
}

.btn-inscription:hover, .btn-inscription:focus {
    background-color: #A6A6A6 !important;
}


/* ------------------
  FEATURES SECTION
---------------------*/

@media screen and (min-width: 1200px) {
    .slider-options {
        height: 62px;
    }
}

.feature {
    font-family: Montserrat;
    text-align: center;
    background: #850038;
    height: 100%;
}

.feature .feature-inner {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.feature h2 {
    color: white;
    padding-top: 0.5em;
    font-style: normal;
    font-weight: 400;
font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
}


@media screen and (min-width: 1200px) {
    .feature:nth-child(1), .feature:nth-child(2) {
        border-right: solid 1.5px rgba(222,222,222, .2);
    }
}


.feature.active {
    background-color: #DEDEDE;
}

.feature.active h2 {
    color: black;
}


.feature-inner:hover h2 {
    font-weight: 500;
    cursor: pointer;
}

.feature:hover {
    cursor: pointer;
}


/* ------------------
  RECOMMENDATIONS SECTION
---------------------*/


.recommendations{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.recommended-products {
    margin-top: 3em;
    margin-bottom: 0em;
}

a.btn-primary.btn-inscription {
    display: block;
}