@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i&display=swap');


/* permet de rajouter la font "icomoon" */


@font-face {
    font-family: "icomoon";
    src: url('../../../fonts/icomoon.eot');
    src: url('../../../fonts/icomoon.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/icomoon.ttf') format("truetype"),
    url('../../../fonts/icomoon.woff') format("woff"),
    url('../../../fonts/icomoon.svg#icomoon') format("svg");
    font-weight: normal;
    font-style: normal;
}

/***********
Global
***********/


label{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #000000;

}


a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


/***********
Container
***********/

.super_container
{
    width: 100%;
    overflow: hidden;
}


.super_container_inner
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active
{
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}
.super_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active .super_overlay
{
    visibility: visible;
    opacity: 1;
}

.order_title{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
padding-top:30px;
color: #000000;
}

.submit_order{
    background: #930046;
border-radius: 50px;
font-family: Montserrat;
padding-top:8px;
padding-bottom:8px;
padding-left:18px;
padding-right:18px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.form-control{
    border: 1px solid #930046;
    border-radius:0;
box-sizing: border-box;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}
.chiller_cb input {
    display: none;
}
.chiller_cb input:checked ~ span {
    background: #930046;
    border-color: #930046;
}
.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom:0;
}
.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}
.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}


.checkout_card{
    padding:20px;
    background: #C4C4C4;
border-radius: 9px;
}

.price_title{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
color: #000000;
}

.price_content{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
color: #000000;
}


.line_top{
border-top: 1px solid #D3D3D3;

}

.line_left{
border-left: 1px solid #D3D3D3;

}

.line_bottom{
border-bottom: 1px solid #D3D3D3;

}
/***********
Products
***********/


