@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i&display=swap');


/* permet de rajouter la font "icomoon" */


@font-face {
    font-family: "icomoon";
    src: url('../../../fonts/icomoon.eot');
    src: url('../../../fonts/icomoon.eot?#iefix') format("embedded-opentype"),
    url('../../../fonts/icomoon.ttf') format("truetype"),
    url('../../../fonts/icomoon.woff') format("woff"),
    url('../../../fonts/icomoon.svg#icomoon') format("svg");
    font-weight: normal;
    font-style: normal;
}

/***********
Global
***********/



a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


/***********
Container
***********/

.super_container
{
    width: 100%;
    overflow: hidden;
}

.cart{
        max-width: 500px;
        margin-top:14px;
}


.empty{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}


/***********
Products
***********/

.panier{
    color:white !important;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;

}

.products
{
    background: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}


.products_row
{
    margin-top: 32px;
}


/***********
Product
***********/

.cart_header {
    padding-top: 10px;
    background: #850038;
}

.cart_buttons {
    padding-top:10px;
    background: white;
}
.cart_header_2 {
    padding-top: 10px;
    background: #848484;
    border-bottom: 2px solid white;
}

.commander{
    background:#850038;
}

.header_title{
    min-width: 90px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    height: 8px;

}

.product_cart{
    height:100%;
}

.product_cart_image{
    display: block;
    width: 40px;
    height: auto;
}

.cart_product_name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align : left;
}

.cart_content{
    padding-top:30px !important;
    border-bottom: 1px solid #D3D3D3;

}

.multiply{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #828282;
}

.cart_product_price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.cart_product_price_total {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #850038;
}


.choice_packaging{

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;

}

.choice_list{
    min-width: 50px;
    background: #FFFFFF;
    width:50%;
    height: 100%;
    border-style: solid;
    border-color: #EDEDED;
    border-width: 2.5px;
    height: 2em !important;
}
.cart_product_details{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

.cart_frais{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #787878;
}

.cart_frais_price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #828282;
}

.cart_frais_price_total{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #850038;

}


.continuer_achats{
    padding-top:10px;
    padding-bottom:10px;
    background: #DEDEDE;
    border-radius: 15px;
    margin-left:-10px;
}

.continuer_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.commander{

    background: #850038;
    border-radius: 15px;
    margin-left:10px;
}

.svg_button{
    width:20px;
}

.commander_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.line_bottom{
    border-bottom: 1px solid #D3D3D3;
    background-color: white;

}
.fix_cross{
    max-width: 150px;
}

.cross{
    width:20px;
}


.cross:hover {
    cursor:pointer;
}

/***********
Cart
***********/



div.cart {
    position: absolute;
    z-index : 40000;
    width : 40vw;
    right: 30px;
    top : 60px;
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -12px rgba(0,0,0,0.75);
}

.fa-shopping-cart:before {
    font-size: 23px;
    color: white;
}

.cartitems-container {
    max-height : 300px;
    overflow : scroll;
}