
@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 300i, 400,400i,500,500i,600, 600i, 700,700i,800, 800i, 900,900i&display=swap');


/******************

NAVIGATION A GAUCHE

******************/


.nav-account li.active {
    text-decoration: underline !important;
    color: #850038 !important;

}

.nav-account li.else {
    cursor: pointer;
}


.account {
    margin-top: 4em;
    margin-bottom: 4em;
    font-family: Montserrat;
}

.myaccount{
    margin-bottom: 10px;
}

.number_orders {
    margin-top: 1.5em;
}


h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.nav-account {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.nav-account > li {
    padding-top: 1em;
}

.static-menu > p {
    margin-top: 0.2em;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}


/************************

EN-TÊTE TABLEAU COMMANDES

************************/


.orders_header p {
    font-weight: 500;
    font-size: 16px;
}

.orders_header {
    background: #E9E9E9;
    height: 51px;
    padding-top: 13px;
}



@media screen and (min-width: 1200px) {
    .orders_header > p:first-of-type {
        padding-left: 4em;
    }
}


@media screen and (max-width: 1200px) {
    .orders_header > p:first-of-type {
        padding-left: 1.5em;
    }
}

@media screen and (max-width: 800px) {
    .orders_header > p:nth-of-type(4), .orders_header > p:nth-of-type(5) {
        display: none;
    }
}




div.text-left {
    padding-top: 0.4em;
    font-size: 16px;
}

.no-page {
    padding-top: 0.6em;
    padding-left: 8.3em
}

.no-page > ul {
    display: block;
}

.no-page ul li.else {
    display: inline-block;
    width: 1.7em;
    border: solid 1px black;
    text-align: center;
    display: none;
}

.no-page ul li.active {
    display: inline-block;
    background-color: #850038;
    border: solid 1px #850038;
    color: white;
    width: 1.7em;
    text-align: center;
}


.arrow-right, .arrow-left {
    display: inline-block;
    width: 1.7em;
    text-align: center;
    border: none;
    width: 13px;
}


.arrow-right {
    display: none;
}

/*****************

LIGNE DE COMMANDE

*****************/

.order_line {
    width: 100%;
}


.order_line p {
    font-weight: 300;
    line-height: 22px;
    height: 25px;
}



@media screen and (min-width: 1200px) {
    .order_line p  {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    .order_line p  {
        font-size: 13px;
    }
}

.text-col {
    padding-top: 0.6em;
}


.order_line > p:nth-of-type(2) {
    margin-left: -0.8em;
    margin-right: 0.8em;

}


/*****************

MES INFORMATIONS

*****************/


.btn-edit-infos {
    background-color: #850038;
    border-color: #850038;
}

.btn-delete-account {
    background-color: #bcbabc;
    border-color: #bcbabc;
    margin-top: -2.3em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #eeecef inset !important;
}



.product_order_image {
    width: 25px;
}

.order_container {
    border: solid 0.5px #D0D0D0;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.more {
    padding: 2em;
}

.resume {
    padding-bottom: 2em;
}


.more {
    display: none;
}

.active .more {
    display: block !important;
}

.active + .more {
    display: block !important;
}


.order_line {
    margin-left: 0px;
    margin-right: 0px;
}

.order_line.active, .active .order_line {
    background-color: #850038;
    color: white;

}


p.arrow.down {
    content:url('/six/images/down-arrow.svg');
}

p.arrow.up {
    content:url('/six/images/up-arrow.svg');
}


div.favorite-heart.full {
    content:url('/six/images/favorite-heart-full.svg');
}

@media screen and (min-width: 1200px) {
    .arrow img {
        width: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .order_line > p:first-of-type {
        padding-left: 1.6em;
    }
}

.arrow {
    top: 0.4em;
}


@media screen and (max-width: 1200px) {
    .status, .payment  {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .date, .total  {
        min-width: 10em;
    }
}

@media screen and (max-width: 1200px) {
    .date-col  {
        min-width: 7em;
    }
}

.delete#delete {
    background-color : rgba(100, 100, 100, 0.6);
    width: 100vw;
    height : 100vh;
    z-index : 4000;
    position: absolute;
    top: 0px;
    left : 0px;
    overflow: hidden;
    display : flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

.delete-container {
    width : 40vw;
    background-color : white;
    height : 40vh;
    -webkit-box-shadow: 0px 0px 30px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -12px rgba(0,0,0,0.75);
    display : flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    padding : 0vh 5vw 0vh 5vw;
}

.confirmation {
    padding : 10px 20px 10px 20px;
    margin-bottom : 10px;
    background-color : #28a745;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    color : white;
    text-align : center;
}




